
@{
    ViewBag.Title = "NICE";
}
<link href="~/Content/Homepage.css" rel="stylesheet" />

<div class="outter-dashboard">
    
        <div class="input-append">
            <form role="form" class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input id="text" class="input-xxlarge form-control" placeholder="Search nice.org">
                        <span type="button" class="btn"><i class="icon-nice-search"></i></span>
                    </div>
                </div>
</form>

        
    </div>
           <div class="border">
               <div class="dashboard">
                   <h1 class="title">Improving health and social care through evidence-based guidance</h1>
                   <button class="btn-large btn-success">Find Guidence</button>
                   <hr />
                   <div class="dashboard-list">
                       <hr />

                       Browse guidence by area:
                       <p><i class="icon-nice-chevron-right"><a>content</a></i></p>
                       <p><i class="icon-nice-chevron-right"><a>content</a></i></p>
                       <p><i class="icon-nice-chevron-right"><a>content</a></i></p>
                       <p><i class="icon-nice-chevron-right"><a>content</a></i></p>
                       <p><i class="icon-nice-chevron-right"><a>content</a></i></p>
                       <p><i class="icon-nice-chevron-right"><a>content</a></i></p>


                   </div>
               </div>


            </div>

    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <ul class="nav nav-pills dashboard-pills">
                <li></li>
                <li><a href="#"><span class="icon-nice-chevron-right"></span> Lorem ipsum</a></li>
                <li><a href="#"><span class="icon-nice-chevron-right"></span> Lorem ipsum</a></li>
                <li><a href="#"><span class="icon-nice-chevron-right"></span> Lorem ipsum</a></li>
                <li><a href="#"><span class="icon-nice-chevron-right"></span> Lorem ipsum</a></li>
                


            </ul>
        </div>
    </div>
            
</div>

<div class="container2">
    <div class="greyout">
        <div class="container">
            <div id="latestUpdates">
                <div class="section">
                    
                    <ul class="nav nav-list sectionlist">
                        <li class="nav-header">List header</li>
                        <li><a href="#">Library</a></li>
                        <li><a href="#">Library</a></li>
                        <li><a href="#">Library</a></li>
                        <li><a href="#">Library</a></li>

                    </ul>
                    <button class="mybutton">Yes this is that button</button>

                </div>
                <div class="section">
                    
                    <ul class="nav nav-list sectionlist">
                        <li class="nav-header">List header</li>
                        <li><a href="#">Library</a></li>
                        <li><a href="#">Library</a></li>
                        <li><a href="#">Library</a></li>
                        <li><a href="#">Library</a></li>
                        
                    </ul>
                    <button class="mybutton">Yes this is that button</button>

                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <p>
            In Depth
            <span class="pull-right">
                Explore NICE <a href="#">News</a>| <a href="#">About</a> <a href="#">Events</a>| <a href="#">Get involved</a>
            </span></p>
        <div class="container3">
            <div class="explorepicturegroup container">
                <a href="#">
                    <img src="~/pictures/standards_indicators_icon.png" class="picturebox" />
                    <div class="well col-lg-3 pblabel">the text</div>
                </a>
            </div>
        </div>
        
        <div class="container3">
            <div class="explorepicturegroup container">
                <a href="#">
                    <img src="~/pictures/standards_indicators_icon.png" class="picturebox" />
                    <div class="well col-lg-3 pblabel">the text</div>
                </a>
            </div>
        </div>
        <div class="container3">
            <div class="explorepicturegroup container">
                <a href="#">
                    <img src="~/pictures/standards_indicators_icon.png" class="picturebox" />
                    <div class="well col-lg-3 pblabel">the text</div>
                </a>
            </div>
        </div>
        <div class="container3">
            <div class="explorepicturegroup container">
                <a href="#">
                    <img src="~/pictures/standards_indicators_icon.png" class="picturebox" />
                    <div class="well col-lg-3 pblabel">the text</div>
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="well well2">
            <div class="container4">
                <div class="container">
                    <a href="#">
                         <img src="~/pictures/Network-of-people-alt.jpg" class="c4contentbig"/>
                        <div class="well well2inner">the text</div>
                    </a>
                </div>
            </div>
            <div class="container4small">
                <div class="container">
                    <a href="#">
                        
                        <img src="~/pictures/calendar_icon.png" class="c4contentsmall" align="top"/>
                        <div class="well well2innersmall">the text</div>
                    </a>
                </div>
            </div>

        </div>
       
    </div>
</div>