
@{
    ViewBag.Title = "NICE";
}

<link href="~/Content/Homepage.css" rel="stylesheet" />

<div class="outter-dashboard row">
    <div class="container2">
        
        <div class="container">
            
                        <div id="text"class="input-append">
                            <form>
                                <input class="input-xxlarge" type="text" placeholder="Search NICE.org">
                                <span type="button" class="btn"><i class="icon-nice-search"></i></span> 
                            </form>
                        </div>
                        

                  
        </div>

        
    </div>
           <div class="border">
               <div class="container2">
                   <div class="dashboard">

                       <h1 class="title">Improving health and social care through evidence-based guidance</h1>
                       <button class="btn-large btn-success">Find Guidence</button>
                       <hr />
                       <div class="dashboard-list">
                           <hr />

                           Browse guidence by area:
                           <p><i class="icon-nice-chevron-right"><a>Conditions and diseases</a></i></p>
                           <p><i class="icon-nice-chevron-right"><a>Health protection</a></i></p>
                           <p><i class="icon-nice-chevron-right"><a>Lifestyle and wellbeing</a></i></p>
                           <p><i class="icon-nice-chevron-right"><a>Population groups</a></i></p>
                           <p><i class="icon-nice-chevron-right"><a>Service delivery, organisation and staffing</a></i></p>
                           <p><i class="icon-nice-chevron-right"><a>Settings</a></i></p>
                       </div>

                   </div>
               </div>


            </div>

    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container2">
                <ul class="nav nav-pills dashboard-pills">
                    <li></li>
                    <li><a href="#"><span class="icon-nice-chevron-right"></span> Lorem ipsum</a></li>
                    <li><a href="#"><span class="icon-nice-chevron-right"></span> Lorem ipsum</a></li>
                    <li><a href="#"><span class="icon-nice-chevron-right"></span> Lorem ipsum</a></li>
                    <li><a href="#"><span class="icon-nice-chevron-right"></span> Lorem ipsum</a></li>



                </ul>
            </div>
        </div>
    </div>
            
</div>

<div class="container2">
    <div class="greyout">
        <div class="container">
            <div id="latestUpdates">
                <div class="section">
                    
                    <ul class="nav nav-list sectionlist">
                        <li class="nav-header">List header</li>
                        <li><a href="#">Library</a></li>
                        <li><a href="#">Library</a></li>
                        <li><a href="#">Library</a></li>
                        <li><a href="#">Library</a></li>

                    </ul>
                    <button class="mybutton">Yes this is that button</button>

                </div>
                <div class="section">
                    
                    <ul class="nav nav-list sectionlist">
                        <li class="nav-header">List header</li>
                        <li><a href="#">Library</a></li>
                        <li><a href="#">Library</a></li>
                        <li><a href="#">Library</a></li>
                        <li><a href="#">Library</a></li>
                        
                    </ul>
                    <button class="mybutton">Yes this is that button</button>

                </div>
            </div>
        </div>
    </div>
    <div class="well">
        <p>
            In Depth
            <span class="pull-right">
                Explore NICE <a href="#">News</a>| <a href="#">About</a> <a href="#">Events</a>| <a href="#">Get involved</a>
            </span></p>
        <div class="container3">
            <div class="explorepicturegroup container">
                <a href="#">
                    <img src="~/pictures/standards_indicators_icon.png" class="picturebox" />
                    <div class="well col-lg-3 pblabel">the text</div>
                </a>
            </div>
        </div>
        
        <div class="container3">
            <div class="explorepicturegroup container">
                <a href="#">
                    <img src="~/pictures/standards_indicators_icon.png" class="picturebox" />
                    <div class="well col-lg-3 pblabel">the text</div>
                </a>
            </div>
        </div>
        <div class="container3">
            <div class="explorepicturegroup container">
                <a href="#">
                    <img src="~/pictures/standards_indicators_icon.png" class="picturebox" />
                    <div class="well col-lg-3 pblabel">the text</div>
                </a>
            </div>
        </div>
        <div class="container3">
            <div class="explorepicturegroup container">
                <a href="#">
                    <img src="~/pictures/standards_indicators_icon.png" class="picturebox" />
                    <div class="well col-lg-3 pblabel">the text</div>
                </a>
            </div>
        </div>
    </div>
    <div>
        <div class="well well2">
            <div class="container4">
                <div class="container">
                    <a href="#">
                         <img src="~/pictures/Network-of-people-alt.jpg" class="c4contentbig"/>
                        <div class="well well2inner">the text</div>
                    </a>
                </div>
            </div>
            <div class="container4small">
                <div class="container">
                    <a href="#">
                        
                        <img src="~/pictures/calendar_icon.png" class="c4contentsmall" align="top"/>
                        <div class="well well2innersmall">the text</div>
                    </a>
                </div>
            </div>
            <div class="container4small">
                <div class="container">
                    <a href="#">

                        <img src="~/pictures/calendar_icon.png" class="c4contentsmall" align="top" />
                        <div class="well well2innersmall">the text</div>
                    </a>
                </div>
            </div>

        </div>
        <div class="collumns">
            <div class="news container">
                <h4>Latest news</h4>
                <div class="artical">
                    <div class="rect"></div>
                    <p class="newstext"><a href="#">Thousands to benefit as NICE set to recommend drug to prevent heart attacks and strokes</a></p>
                </div>
                <br>
                <div class="artical">
                    <div class="rect"></div>
                    <p class="newstext"><a href="#">We can reduce STIs by increasing condom availability, says NICE</a></p>
                </div>
                <div class="artical">
                    <div class="rect"></div>
                    <p class="newstext"><a href="#">NICE draft guidance recommends new drug for people with ankylosing spondylitis</a></p>
                </div>
            </div>

            <div class="twitter">
                <h2 class="tweets">Tweets</h2> <span class="tweetsanchor">by <a href="#">NICE comms</a></span>
                <hr id="grey" />
                <div class="tweet">
                    <div>

                        <img src="~/pictures/twiiternice.png" class="tweetlogo" /> <span class="tweetanchor"><B>NICE</B><a href="#">@@NICEcomms</a></span> 
                        <div class="tweetcontent">
                            <p>Dr Finella Craig from @@GreatOrmondSt blogs about working in end of life care for children: <a href="https://www.nice.org.uk/news/blog/working-together-to-support-care-at-the-end-of-life">https://www.nice.org.uk/news/blog/working-together-to-support-care-at-the-end-of-life</a> …</p>
                            <img src="~/pictures/CpkNtvFW8AQklhc.jpg" class="twitterimage" id="old" />
                        </div>
                        <hr id="grey" />
                        
                    </div>
                </div>

                <div class="tweet">
                    <div>

                        <img src="~/pictures/twiiternice.png" class="tweetlogo" /> <span class="tweetanchor"><B>NICE</B><a href="#">@@NICEcomms</a></span>
                        <div class="tweetcontent">
                            <p>Last chance to join our new expert advisers panel! Help shape our guidelines on an ad-hoc basis. Apply by 5pm today: <a href="https://www.nice.org.uk/get-involved/join-a-committee/eap-centre-for-guidelines">https://www.nice.org.uk/get-involved/join-a-committee/eap-centre-for-guidelines</a> …</p>
                            
                        </div>
                        <hr id="grey" />

                    </div>
                </div>

                <div class="tweet">
                    <div>

                        <img src="~/pictures/twiiternice.png" class="tweetlogo" /> <span class="tweetanchor"><B>NICE</B><a href="#">@@NICEcomms</a></span>
                        <div class="tweetcontent">
                            <p>New draft guidance recommends a drug that could prevent heart attacks and strokes: <a href="https://www.nice.org.uk/news/article/thousands-to-benefit-as-nice-set-to-recommend-drug-to-prevent-heart-attacks-and-strokes">https://www.nice.org.uk/news/article/thousands-to-benefit-as-nice-set-to-recommend-drug-to-prevent-heart-attacks-and-strokes</a> …</p>
                            <img src="~/pictures/CppHjPSUsAAA-gM.jpg"  class="twitterimage"/>
                        </div>
                        <hr id="grey" />

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>