<!DOCTYPE html>
<html lang="en-gb">
<head>
    
    
    <title>@ViewBag.Title | The National Institute for Health and Care Excellence</title>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

     <link href="//cdn.nice.org.uk/V2/Content/NICE.bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/core.js"></script>
   
    

</head>
<body>
    

    
        @RenderBody()
        
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    
</body>
</html>