<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | The National Institute for Health and Care Excellence</title>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <link href="//cdn.nice.org.uk/V2/Content/NICE.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Lato:200normal,200italic,300normal,300italic,400normal,400italic,700normal,700italic,900normal,900italic" rel="stylesheet" type="text/css" />
    <link href="//cdn.nice.org.uk/V2/Content/NICE.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/Themes/NICE.Bootstrap/styles/nice/NICE.base-v1.10.4343.0.css" rel="stylesheet" type="text/css" />
    <link href="//cdn.nice.org.uk/V2/Content/fontawesome.css" rel="stylesheet" type="text/css" />
    <link href="//cdn.nice.org.uk/V2/Content/NICE.glyphs.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/core.js"></script>
   
    

</head>
<body>
    

    
        @RenderBody()
        
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>